<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121650905102-v9olq3gq6b8s6ctlnami9jkthn7urgl1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121650905102-v9olq3gq6b8s6ctlnami9jkthn7urgl1</string>
	<key>API_KEY</key>
	<string>AIzaSyBDQmbHpdn6elfvfchx4yq3A2O5KZyOQL0</string>
	<key>GCM_SENDER_ID</key>
	<string>121650905102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sock.sock</string>
	<key>PROJECT_ID</key>
	<string>sock-91ac3</string>
	<key>STORAGE_BUCKET</key>
	<string>sock-91ac3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121650905102:ios:468ff79d17bbe12d98fc5f</string>
	<key>DATABASE_URL</key>
	<string>https://sock-91ac3.firebaseio.com</string>
</dict>
</plist>